:root {
--text-color: #1a1c20;
--link-color: #c0f0ff;
--background-color: #575757;
}

* {
margin: 0;
padding:0;
box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 400; 
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

nav .top a img{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: none;
    filter: grayscale(100%);
    opacity: 0.5;
}

.middle {
 margin-top: -80px; 
}

.middle a {
    display: block; /* Makes each link take up full width */
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.middle a:hover {
    background-color: #575757;
}
nav .middle a span{
    margin-left: 15px;
}
nav .bottom a{
    margin:0 10px;
}

/* This is for the main container */
.main{
    margin-left: 250px; /* Same width as the nav bar */
    padding: 20px;
}

/* Section 1: About */
.about {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center; 
    text-align: left; 
}

.about .text {
    flex: 5;
    padding: 20px;
    text-align: justify;
}
 
.main-text h1{
    font-size: 50px;
    color:#74c0fc;
    text-align: center;
    font-weight: 400; 
}
.main-text h4{
    color:#eeeff1;
    text-align: center;
    font-weight: 300; 
}
.about .text p{
     color: #eeeff1;
}

/*Section 2: Skills (Elec) page*/
.skillsE-section{
    padding: 0 50px;
    margin-bottom: 100px;

}
.skillsE-section h2{
    text-align: left;
    font-size: 35px;
    color:#74c0fc;
    font-weight: 300; 
    padding-bottom:10px;
}

.skillsE-section h3{
    text-align: left;
    font-size: 20px;
    color:#eeeff1;
    font-weight: 300;
    padding-bottom:30px;
}

.skillsE-section .cellsE{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skillsE-section .cellsE .cellE{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #c0f0ff;
    border-radius: 5px;
}

.skillsE-section .cellsE .cellE:hover{
    background-color: #333;
}

.skillsE-section .cellsE .cellE img{
    width: 35px;
    height: 35px;
    object-fit: contain;
    border-radius: 2px;
}
.skillsE-section .cellsE .cellE span{
    font-size: 16px;
    color:#eeeff1;
}

/*Section 3: Skills (Comp) page*/
.skillsC-section{
    padding: 0 50px;
    margin-bottom: 100px;

}

.skillsC-section h3{
    text-align: left;
    font-size: 20px;
    color:#eeeff1;
    font-weight: 300;
    padding-bottom:30px;
}

.skillsC-section .cellsC{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skillsC-section .cellsC .cellC{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #c0f0ff;
    border-radius: 5px;
}

.skillsC-section .cellsC .cellC:hover{
    background-color: #333;
}

.skillsC-section .cellsC .cellC img{
    width: 35px;
    height: 35px;
    object-fit: contain;
    border-radius: 2px;
}
.skillsC-section .cellsC .cellC span{
    font-size: 16px;
    color:#eeeff1;
}

/* Section 4: Projects */
.projects-section h2{
    text-align: left;
    font-size: 35px;
    color:#74c0fc;
    font-weight: 300; 
    padding-bottom:20px;
    padding-left:43px;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:2rem;
}
.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:1.5rem;
    border: 1.5px solid #c0f0ff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.project-card:hover{
    background-color: #333;
    transform: translateY(-10px) scale(1.02);
}

.project-card img{
    width: 33vw;
    border-radius: 1rem;
}
.project-card .btn{
   border-radius: 3rem;
   padding: 0.5rem 1.5rem;
   border: 2px solid #c0f0ff;
   cursor: pointer;
   font-weight: 500;
   text-wrap: nowrap;
   transition: 0.2s ease-in-out;
   color: white;
}
.project-card:hover .btn{
   border: 2px solid white;
   color: white;
}

.project-card:hover .btn:hover{
    border: 2px solid white;
    background-color: #575757;
    color: white;
}
.project-card h3{
    font-size: 20px;
    font-weight: 400;
    color:#67B7D1;
}
.project-card p{
    color:#eeeff1;
}


/* Section 5: Contact */
.contact-section h2{
    font-size: 35px;
    color:#74c0fc;
    font-weight: 300; 
    padding-top:20px;
}

.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex:3;
    margin-top: 20px;
    font-size: 16px;
    color:#eeeff1;
    text-align: justify;
}
.contact-section .group form{
    flex:3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: 'Montserrat', sans-serif ;
    font-size: 16px;
    color: #eeeff1;
    border: 1.5px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
    border-radius: 5px;
}

.contact-section .group form label{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif ;
    color: #eeeff1;
}

.contact-section .group form button{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif ;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover{
    filter: brightness(.9);

}

/* This is to make it responsive (S:Under Ctrl YT)*/
@media (max-width: 850px){
    /*Section 1: About*/
    .main-text h1{
        font-size: 20px;
    }
    .about .text{
        font-size: 15px;
    }
    .about .container{
        width:600px;
    }
}

@media (max-width: 740px){
    /*Section 1: About*/
    .about .container{
        width:400px;
    }
    /* Section 5: Contact */
    .contact-section .group{
        flex-direction: column;
    }
}

@media (max-width: 600px){
    /*NAVBAR*/
    nav{
    padding: 10px 0;
    }

    nav .middle a{
        font-size: 22px;
    }

    nav .middle a span{
        display: none;
    }
    /*Section 1: About*/
    .about {
        padding: 0 20px;
    }
    /*Section 2: Skills (Elec) page*/
    .skillsE-section{
        padding: 0 20px;
    }
    .skillsE-section .cellsE .cellE span{
        font-size: 14px;
    }

    /*Section 3: Skills (Comp) page*/
    .skillsC-section{
        padding: 0 20px;
    }
    .skillsC-section .cellsC .cellC span{
        font-size: 14px;
    }

    /* Section 5: Contact */
    .contact-section .group{
      padding: 0 20px;
    }
}

/* This is to make Image slider (S:Skillthrive YT)*/
.container{
    padding: 2rem;
}
.slider-warpper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333; 
}

footer p {
    color: white;
    font-size: 14px;
}